node_modules/
dist/
data/queryForPartyWinrateResult.json
data/queryForNestedMapResult.json
data/queryForMapStatsResult.json
data/queryForLineChartResult.json
data/queryForHeroStatsResult.json
data/gameData_sqlite.db
data/queryForRankedMapsResult.json
data/queryForRankedHeroesResult.json
data/queryForHeatmapResult.json
